<!DOCTYPE html>
<html lang="pt-br">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/styleAdmin.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <title>Faça o login</title>
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="post">
					<label for="chk" aria-hidden="true">Registro</label>
					<input type="text" name="loginR" placeholder="Login..." required="">
					<input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="senhaR" placeholder="Senha..." required="">
					<input type="submit" name="acao" value="Registrar" />
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Entrar</label>
					<input type="text" name="login" placeholder="Login..." required="">
					<input type="password" name="senha" placeholder="Senha..." required="">
					<input type="submit" name="acao" value="Entrar" />
				</form>
			</div>
	</div>
</body>
</html>